.Buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Buttons button {
  margin: 5px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clean.btn.btn-danger,
.zero.btn.btn-secondary {
  width: 100px;
}
.symbol.btn.btn-primary,
.symbol.btn.btn-success {
  width: 60px;
}
